body {
  background-color: whitesmoke;
}

#author-small {
  font-size: 0.7em;
  font-style: italic;
}

#logo {
  font-family: 'Lobster', cursive;
  font-size: 6em;
  text-shadow: 1px 1px 5px rgba(43, 40, 40, 1);
  color: whitesmoke;
}

textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.notepad {
  background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
  font: normal 14px verdana;
  line-height: 25px;
  padding: 2px 10px;
  border: solid 1px #ddd;
}

.til-list {
  max-height: 300px;
  overflow-y:scroll;
}
