{{outlet}}
<div class="container">
  <div class="col-lg-12 text-center" style="margin-top:50px;margin-bottom:50px">
    <h1 id="logo">TIL</h1>
  </div>
  <div class="row col-lg-6 col-centered" style="margin-bottom:25px">
    <form {{action 'createTil' this description on='submit'}}>
      <div class="form-group">
        {{textarea value=description placeholder="What have you learned today?" style="display:inline-block;" rows="3" class="notepad"}}
      </div>
      <ul class="list-inline">
        <li class="pull-right" style="padding:0;">
          <button class="form-button btn btn-primary" type="submit">Submit Til!</button>
        </li>
      </ul>
    </form>
  </div>

  <div class="col-lg-6 col-centered">
    <ul class="list-unstyled til-list">
      {{#each model as |til|}}
        {{til-block til=til}}
      {{/each}}
    </ul>
  </div>
</div>
